@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif; 
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;  
}
.main{
    position: relative;
    padding: 0 60px;
}
.menuB{
    cursor: pointer;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.logo h1{
    font-size: clamp(2rem, 4vw, 3rem);
}
.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    filter: hue-rotate(90deg) brightness(50%);

}
.content{
    margin-top: 200px;
}
.context{
    width: 40%;
    margin-bottom: 30px;
}
.header{
    line-height: 1;
}
.header h1{
    font-size: clamp(2rem, 4vw, 7rem);
    margin-bottom: 15px;
}
.button{
    padding: 15px 35px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .context{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow: auto;
        height: 120vh;
    }
    .main{
        padding: 0 30px;
    }
    .content{
        margin-top: 30px;
    }
    .background-image{
        height: 120vh;
    }
}